h2{
    text-align: center;
    margin-top: 100px;
}
img{
    max-width: 100%;
    display: block;
}
:root {
  --cor-principal: #000;
  --cor-secundaria: #fff;
}
header{
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20;
}
flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}
flex > div{
flex: 1 1 200px;
margin: 10px;
} 
container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    row-gap: 10px;
    column-gap: 30px;

/* indiferente; */
    background-color: #fff;
    padding: 16px;
    height: 500px;
}
